h1,
p {
  font-family: Lato;
}

table {
  font-size: 1rem;
}

tr {
  text-align: left;
  font-size: 0.8rem;
}

th {
  font-size: 0.8rem;
}

td {
  text-transform: uppercase;
  width: 20vw;
  padding: 5%;
  margin: 2%;
}

td:nth-child(2n) {
  font-weight: 600;
}


.spark {
  height: 1.5rem;
  width: 80%;
}
