h1,
p {
  font-family: Lato;
}

p {
  max-width: 50ch;
  text-align: justify;
  text-justify: inter-word;
}

table {
  font-size: 1rem;
  margin-left: -3.5rem;
}

tr {
  text-align: left;
  font-size: 0.8rem;
}

th {
  font-size: 0.8rem;
}

td {
  width: 20vw;
  padding: 2%;
  margin: 2%;
}

img.icon {
  width: 2rem;
  margin: 0.1rem;
  padding: 0.1rem;
}

td:nth-child(2n) {
  font-weight: 600;
}

.spark {
  height: 1.5rem;
  width: 80%;
}

.info-col > td {
  text-transform: initial;
}

.navbar{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1003)'%3e%3c/rect%3e%3cpath d='M1440 0L973.79 0L1440 181.79z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M973.79 0L1440 181.79L1440 362.42999999999995L534.03 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M534.03 0L1440 362.42999999999995L1440 378.65999999999997L495.15999999999997 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M495.15999999999997 0L1440 378.65999999999997L1440 497.96L391.95 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L10.82 560L0 435.75z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 435.75L10.82 560L15.71 560L0 220.78z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 220.77999999999997L15.71 560L211.31 560L0 193.25999999999996z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 193.26L211.31 560L798.3199999999999 560L0 188.95999999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1003'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.navbar-brand{
  color:white;
}
