h1,
p {
  font-family: Lato;
}

p {
  max-width: 50ch;
  text-align: justify;
  text-justify: inter-word;
}

table {
  font-size: 1rem;
  margin-left: -3.5rem;
}

tr {
  text-align: left;
  font-size: 0.8rem;
}

th {
  font-size: 0.8rem;
}

td {
  width: 20vw;
  padding: 2%;
  margin: 2%;
}

img.icon {
  width: 2rem;
  margin: 0.1rem;
  padding: 0.1rem;
}

td:nth-child(2n) {
  font-weight: 600;
}

.spark {
  height: 1.5rem;
  width: 80%;
}

.info-col > td {
  text-transform: initial;
}
